<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KOWL</title>
    <link href="../css/person.css" rel="stylesheet">

</head>
<body style="background-color: rgb(0, 0, 0);">
    <div id="wrap">
        <div id="header" role="banner">
            <div class="grid-container">
                <div></div>
                <div>
                    <a href="../../static/index.html">
                        <img src="../../static/images/KOWL.png" class="kowl_image" alt="kowl_image"> <!-- 이미지 폰트 변경-->
                    </a>
                </div>
                <div>
                    <a href="./bookmark.html">
                        <img src="../../static/images/BookmarkImage.png" class="bookmark_image" id="bookmark_image" style="float:right; margin:10px;" alt="bookmark_image">
                    </a>
    
                    <a href="./cart.html">
                        <img src="../../static/images/CartImage.png" class="cart_image" id="cart_image" style="float:right; margin:10px;" alt="cart_image">
                    </a>
                    <a href="./person.html">
                        <img src="../../static/images/PersonImage.png" class="personal_image" id="personal_image" style="float:right; margin:10px;" alt="personal_image">
                    </a>
                </div>
            </div>

            <div id="topWrap" class="dd"> <!-- dd 제거-->
                <img src="../../static/images/Hamburger-Menu-Icon-white.png" class="menu-container" id="menu_icon" alt="white_menu_icon">
    
                <img src="../../static/images/hidden_menu_rectangle.png" class="hidden_menu_rectangle" id="hidden_menu_rectangle" style="display: none;" alt="hidden_white_background">
                <img src="../../static/images/Hamburger-Menu-Icon-Black.png" class="hidden_menu_icon" id="hidden_menu_icon" style="display: none;" alt="hidden_black_menu_icon">
                <a href="./shop.html"> <!-- www.kowl.kr/shop으로 변경-->
                    <img src="../../static/images/SHOP.png" class="hidden_shop_link" id="hidden_shop_link" style="display: none;" alt="hidden_shop_link">
                </a>
                <a href="../templates/form/archive.html">
                    <img src="../../static/images/Archive.png" class="hidden_archive_link" id="hidden_archive_link" style="display: none;" alt="archive">
                </a>
                <a href="https://www.instagram.com/kowl.kr" target="_blank">
                    <img src="../../static/images/Instagram_logo.png" class="hidden_instagram_logo_link" id="hidden_instagram_logo_link" style="display: none;" alt="instagram_link">
                </a>
                <img src="../../static/images/hidden_X_image.png" class="hidden_X_image" id="hidden_X_image" style="display: none;" alt="hidden_X_image">
            </div>
        </div>
        <div id="contentWrap">
            <div></div>
            <p style="color: aliceblue; font-weight: 600; font-size: 40px; text-align: center; width: calc(100% - 280px);">주문 조회</p>
            <div></div>
            <p class="personal_information" style="color: aliceblue; font-weight: 600; font-size: 20px; text-align: center; width: calc(100% - 280px);">
                <br><br>
                주문번호는 주문 시, 작성하신 이메일로 발송되었으니 확인 부탁 드립니다.
                <br><br>
                주문번호 분실 시 아래로 문의 바랍니다.
                <br><br>
                tkdwkd159@naver.com <br>
                kowl.kr 인스타 DM <br><br><br>
            </p>
            <div></div>
            <p style="color: aliceblue; font-weight:300; font-size: 20px; text-align: center; width: calc(100% - 280px - 280px)">이름</p> <!--이름-->
            <div></div>
            <p style="color: aliceblue; font-weight:300; font-size: 20px; text-align: center; width: calc(100% - 280px - 280px)">휴대폰 번호</p> <!--휴대폰 번호-->
            <div></div>
            <p style="color: aliceblue; font-weight:300; font-size: 20px; text-align: center; width: calc(100% - 280px - 280px)">주문번호</p> <!--주문번호(주문 시, 이메일로 발송)-->
        </div>
        
    </div>
</div>
<!-- 여백 -->
<div>copyright</div> <!-- copyright 표시 -->
<div></div>
<script src="../js/shop.js"></script>
</body>
</html>