#wrap {
    min-width: 1340px;
}

#header {
    width: 1280px;
    margin: 0 auto
}
div {
    display: block;
}

meta {
    display: none;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
    margin: 0;
    padding: 0;
}

.main-screen-main-image {
    margin: 50px;
}

.main-screen-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
    margin: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "main content aside"
    "footer footer footer";
    grid-gap: 20px;
}

.menu-container {
    top: 50px;
    left: 50px;
    width: 40px;
    height: 37.33px;
    position: absolute;
}

.kowl_image {
    align-self: center;
}


.hidden_menu_rectangle {
    top:0;
    left:0;
    flex-direction: column;
    height: 100vh;
    max-width: 280px;
    position: fixed;
}

.hidden_menu_icon {
    top: 50px;
    left: 50px;
    width: 40px;
    height: 37.33px;
    position: absolute;
}

.hidden_shop_link {
    top: 198px;
    left: 50px;
    position: absolute;
}

.hidden_archive_link {
    top: 349px;
    left: 50px;
    position: absolute;
}

.hidden_instagram_logo_link {
    top: 600px; /* 추후 하단에서 몇px로 변경 */
    left: 51px;
    position: absolute;
}

.hidden_X_image {
    top: 20px;
    left: 200px; /* 추후 변경 */
    position: absolute;
}
#contentWrap {
    display: grid;
    grid-template-columns: 280px 1fr;
}
.contentWrap p {
    color: aliceblue;
}